<template>
    <div id="chart">
        <highcharts class="chart" :options="chartOptions"></highcharts>
    </div>
</template>

<script>
    import HighchartsVue from 'highcharts-vue'

    Vue.use(HighchartsVue);
    
    export default {
        name: 'splineChart',
        data(){
            return {                
                chartOptions: {
                    chart: {
                        type: 'spline'
                    },
                    title: {
                        text: 'Weekly Retention Curves'
                    },
                    xAxis: {
                        categories: [0,20,40,50,70,90,99,100],
                        title: 'Steps in the Onboarding Flow'
                    },
                    yAxis: {
                        title: {
                            text: 'User Percentage (%)'
                        },
                        labels: {
                            formatter: function() {
                                return this.value + ' %';
                            }
                        },
                        min: 0,
                        max: 100
                    },
                    series: []
                }
            }
        },
        mounted() {
            let url = 'http://localhost:8000/api/cohort-analysis/data';
            
            axios.get(url)
                .then(res => {
                    console.log(res);

                    if(res.status === 200 && res.data.success){
                        res.data.data.forEach(series => {
                            this.$children[0].chart.addSeries(series)
                        })
                    }
                }).catch(function(err){
                    console.log(err)
                });
        }
    }
</script>
